VITE_SUPABASE_URL=https://rmxixajexudpaszcbrhi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJteGl4YWpleHVkcGFzemNicmhpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3Njg5NTEsImV4cCI6MjA5MjM0NDk1MX0.-DxzxZZ9R4FsjImI9ymVMSZxyuAkhlztUjbtw9R4vRA
VITE_ADMIN_PIN=1234
